#mainContainer {
    display: none;
}
#background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}
#content {
    background: rgba(0,0,0,128);
}
.left-column {
    width: 60%;
}
.right-column {
    width: 34%;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.pr-40 {
    padding-right:40px;
}
.full {
    width: 87%;
}
.half {
    width: 46%;
}
.pubkey {
    font-size: 1.0em;
}
@media (max-width:850px) {
    .left-column {
        width: 90%;
    }
    .right-column {
        width: 90%;
    }
    .fl {
        float: none;
    }
    .fr {
        float: none;
    }
    .full {
        width: 47%;
    }
    .half {
        width: 50%;
    }
 }